<body>
  <div class="descriptive">

    <div class="image-show">
      <% if @specialist.picture.attached?%>
        <%= cl_image_tag @specialist.picture.key, height: 300, width: 400, crop: :fill %>
        <% else %>
            <img src="https://cdn.icon-icons.com/icons2/1769/PNG/512/4092564-about-mobile-ui-profile-ui-user-website_114033.png">
      <%end%>
      <hr>
      <div class="text-image">
        <div id="welcome">
          <h2><strong> <%= @specialist.first_name %> <%= @specialist.last_name %></strong></h1>
        </div>
        <hr>
        <p> Location: <%= @specialist.address %></p>
        <h2 class="Contact-caard"> Contact: <%= @specialist.email %> <%= @specialist.phonenumber %></h2>
      </div>
    </div>


    <div class="contaner">
    <div class="form-wrapper"  style="width: 300px; margin: 0 auto;">
      <h2>Pick a date for your booking</h2>
      <hr>

      <%= simple_form_for [ @specialist, @consultation ] do |f| %>
        <%= f.input :start_time, as: :string, required: false, input_html: {class: "datepicker"} %>
        <%= f.input :end_time, as: :string, required: false, input_html: {class: "datepicker"} %>
        <%= f.button :submit, "Submit", class: "searchbutton" %>
      <% end %>
    </div>
  </div>
  </div>
</body>
