

<%= link_to specialist_path(specialist.id) do %>
      <div class ="cardcard">
        <div class="cardimgg">
          <% if specialist.picture.attached? %>
                  <%= cl_image_tag specialist.picture.key %>
                <% else %>
                  <img src="https://cdn.icon-icons.com/icons2/1769/PNG/512/4092564-about-mobile-ui-profile-ui-user-website_114033.png">
              <% end %>
        </div>
        <div class="cardinfo">
          <div class="insideinfo">
            <strong><%= specialist.last_name %></strong> <%= specialist.first_name %>
          </div>
          <div class="insideinfo">
            <%= specialist.speciality.name%>
          </div>
          <div class="insideinfo">
            <%= specialist.address %>
          </div>
        </div>
      </div>
    <% end %>
