<div class="statement-controller" data-controller="btn-firstaidkit">

    <% if @current_question.nil? %>
      <% @first_aid_kits.each do |kit| %>

        <div class="toggling-btn">
          <button class="btnicon" data-action="click->btn-firstaidkit#clickbtn" data-btn-firstaidkit-target="toggledbtn"><i class="fas fa-info"></i></button>
          <button class="btnicon" data-action="click->btn-firstaidkit#clickbtn" data-btn-firstaidkit-target="toggledbtn2"><i class="far fa-comments"></i></button>
          <button class="btnicon" data-action="click->btn-firstaidkit#clickbtn" data-btn-firstaidkit-target="toggledbtn3"><i class="fas fa-map-marked-alt"></i></button>
        </div>
          <div class="fak-text" data-btn-firstaidkit-target="content" >
            <h5>What to do?</h5>
            <hr>
            <p><%=kit.content.html_safe%></p>
          </div>

          <div class="fak-fora d-none" data-btn-firstaidkit-target="content2">
            <h5>To be announced</h5>
            <hr>
          </div>
          <div class="fak-maps d-none" data-btn-firstaidkit-target="content3">
              <h5>Find a specialist in your area</h5>
              <hr>
              <div id="map"
                    style="width: 100vw; height: 40vh;"
                    data-markers="<%= @markers.to_json %>"
                    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
              </div>
          </div>
      <% end %>
    </div>
  <%else%>
    <% if @last_question.nil? %>
      <%= ""%>
    <% else %>
      <% @statement.possible_answers.each do |possible_answer| %>
        <div class="dropdown">
          <p class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= possible_answer.question.content%>
          </p>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <%= possible_answer.content%>
          </div>
        </div>
      <% end %>
    <% end %>
    <div class="card-asso">
      <h3><strong><%=@current_question.content%></strong></h3>
      <div data-controller="card-statement">
      <hr>
        <%= simple_form_for @answer,data:{card_statement_target:"form"} do |f| %>
          <%= f.hidden_field :statement_id, value: params[:id] %>
          <%= f.association :possible_answer, label_method: :content, collection: @current_question.possible_answers ,as: :radio_buttons, input_html: {class: "category-selector", data:{action:"click->card-statement#submitForm"}} %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
