<h1>coucou</h1>
<% if @current_question.nil? %>
  <% @first_aid_kits.each do |kit| %>
    <%= kit.content%>
  <% end %>
<%else%>
  <%=@current_question.content%>
  <%= simple_form_for @answer do |f| %>
    <%= f.association :possible_answer, label_method: :content, collection: PossibleAnswer.where(question: @current_question) %>
    <%= f.hidden_field :statement_id, value: params[:id] %>
    <%= f.button :submit %>
  <% end %>
<% end %>
