<div class="statement-controller" data-controller="btn-firstaidkit">

    <% if @current_question.nil? %>
      <% @first_aid_kits.each do |kit| %>

        <div class="toggling-btn">

          <button id ="btn1" class="btnicon" data-action="click->btn-firstaidkit#clickbtn" data-btn-firstaidkit-target="toggledbtn" type="checkbox"><i class="fas fa-info"></i></button>
          <button id ="btn2" class="btnicon" data-action="click->btn-firstaidkit#clickbtn" data-btn-firstaidkit-target="toggledbtn2" type="checkbox"><i class="far fa-comments"></i></button>
          <button id ="btn3" class="btnicon" data-action="click->btn-firstaidkit#clickbtn" data-btn-firstaidkit-target="toggledbtn3" type="checkbox"><i class="fas fa-map-marked-alt"></i></button>

        </div>
          <div data-btn-firstaidkit-target="content">
            <div class="colourfull"><h5>What to do?</h5></div>
            <div class="rowflexing">
              <div class="indexcontainer">
                <div class="imagekit"></div>
                <div class="fak-maps"><p><%=kit.content.html_safe%></p> </div>
              </div>
            </div>
          </div>
          <div class="d-none" data-btn-firstaidkit-target="content2">
            <div class="colourfull"><h5>Talk about what happened with others</h5></div>
            <div class="fak-maps"><%= render "thread", forum_threads:  ForumThread.where(forum_category: kit.forum_category).paginate(per_page: 10, page: 1) %></div>
          </div>
          <div class="d-none" data-btn-firstaidkit-target="content3">
              <div class="colourfull"><h5>Find a specialist in your area</h5></div>
              <div class="rowflexing">
                <div class="indexcontainer">
                  <div class="card-specialist new-card-specialist">
                    <% @specialists.each do |specialist| %>
                      <div class="box">
                        <%= link_to specialist_path(specialist) do %>
                          <div class="img">
                            <% if specialist.picture.attached? %>
                                <%= cl_image_tag specialist.picture.key %>
                              <% else %>
                                <img src="https://cdn.icon-icons.com/icons2/1769/PNG/512/4092564-about-mobile-ui-profile-ui-user-website_114033.png">
                            <% end %>
                          </div>
                          <h2>
                            <%= specialist.first_name %> <%= specialist.last_name %>
                            <br>
                            <%= specialist.phonenumber %>
                            <br>
                            <%= specialist.email %>
                            <br>
                            <%= specialist.speciality.name %>
                          </h2>
                          <p><%= specialist.address %></p>
                          <div class="deletebutton">
                          <% if specialist.user == current_user %>
                            <%= link_to "Delete", specialist_path(specialist), method: "delete", data: { confirm: "Are you sure?" }%>
                            <% end %>
                          </div>
                          <% end %>
                      </div>
                    <% end %>
                  </div>
                  <div class="mapflex">
                    <div id="map"
                            style="width: 35vw; height: 90vh; border-radius: 10px; box-shadow: 2px 2px 5px rgb(0 0 0 / 20%); margin: 10px; position: sticky; top: 50px; border: solid; border-width: 1px;"
                            data-markers="<%= @markers.to_json %>"
                            data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
                    </div>
                </div>
              </div>
            </div>
      <% end %>
  <%else%>
      <% if @last_question.nil? %>
        <%= ""%>
      <% else %>
        <% @statement.possible_answers.each do |possible_answer| %>
          <div class="dropdown">
            <p class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= possible_answer.question.content%>

            </p>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <%= possible_answer.content%>
            </div>
          </div>
        <% end %>
      <% end %>
      <div class="main">
        <section class="current-question">
          <div class="container-asso">
            <div class="card-asso">
              <div class="content">
                <h3><strong><%=@current_question.content%></strong></h3>
                <div data-controller="card-statement">
                <hr>
                  <%= simple_form_for @answer,data:{card_statement_target:"form"} do |f| %>
                    <%= f.hidden_field :statement_id, value: params[:id] %>
                    <%= f.association :possible_answer, label_method: :content, collection: @current_question.possible_answers ,as: :radio_buttons, input_html: {class: "category-selector", data:{action:"click->card-statement#submitForm"}} %>
                  <% end %>
                </div>
              </div>
              <div class="content-image">
                <img src="<%= image_path("bubble5.png")%>">
              </div>
            </div>
          </div>
        </section>
      </div>
  <% end %>
</div>
