<div class="dash">
  <div class="card-header bg-light">Your Consultations</div>
  <div class="wrap">
    <% @consultations.each do |consultation|  %>
      <div class="card-user-dash">
        <a href="#">
          <div class="image"></div>
          <div class="price"><%= consultation.specialist.first_name %><span class="glyphicon glyphicon-eur" aria-hidden="true"></span> <%= consultation.specialist.last_name %> </div>
<<<<<<< HEAD:app/views/users/show.html.erb
          <div class="deletethebutton"><%= link_to "Cancel", user_path(current_user), method: "delete", data: { confirm: "Are you sure?" }%></div>
=======
          <div class="deletethebutton"><%= link_to "Cancel", consultation_path(consultation), method: "delete", data: { confirm: "Are you sure?" }%></div>
>>>>>>> 8541408168ff76b85bfc567da98b82373821452e:app/views/pages/dashboard.html.erb
          <div class="description">
              <div class="row">
                <div class="col-sm-3"><h4><%= @user.first_name %> <%= @user.last_name %></h4></div>
                <div class="col-sm-9">
                  <ul>
                    <li><i class="far fa-clock"></i><p><%= consultation.start_time %></p></li>
                    <li><i class="far fa-clock"></i></span><p><%= consultation.end_time %></p></li>
                    <li><i class="fas fa-map-marker-alt"></i><p><%= consultation.specialist.address %></p></li>
                  </ul>
                </div>
              </div>
          </div>
        </a>
      </div>
    <% end %>
  </div>
</div>
