<!DOCTYPE html>
<html>
  <head>
    <title>WeCare</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= stylesheet_pack_tag 'application' %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@100&display=swap" rel="stylesheet">
  </head>

  <body>
  <%# <div class="footerdown"> %>
    <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
      <%= link_to root_path, class: "navbar-brand" do %>
        <i class="fas fa-gavel white-link"> <strong>We Care</strong></i>
    <% end %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <%# <span class="navbar-toggler-icon"></span> %>
        <i class="fas fa-bars white-link"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <%= link_to "Solve your situation", new_statement_path, class: "nav-link white-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Find a specialist", specialists_path, class: "nav-link white-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Forum", simple_discussion_path %>
          </li>
          <li class="nav-item active">
            <%= link_to "About us", root_path, class: "nav-link white-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link white-link" %>
          </li>
        </ul>
      </div>
    </div>

    <%= yield %>
    <%= render 'shared/flashes' %>
    <div class="footer">
      <div class="footer-links">
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
      <div class="footer-copyright">
        <i class="fas fa-heart"></i> WeCare
      </div>
    </div>
    <%# </div> %>
  </body>
</html>
